    .grafico-vertical{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    margin: 40px;
    background: #f5f5f5;
    }

.grafico-vertical {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  width: 500px;
  height: 300px;
  margin: 40px auto;
  padding: 0; /* quitar padding para que no haya espacio entre barras y borde */
  background: white;
  border-bottom: 4px solid #000000; /* línea en el piso */
  box-sizing: border-box; /* para asegurar que el borde no afecte el tamaño total */
}

.barra {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  color: white;
}

  .barra:nth-child(1) {
    height: 180px;
    background-color: #e74c3c; /* rojo */
  }

  .barra:nth-child(2) {
    height: 120px;
    background-color: #3498db; /* azul */
  }

  .barra:nth-child(3) {
    height: 240px;
    background-color: #2ecc71; /* verde */
  }

  .barra:nth-child(4) {
    height: 90px;
    background-color: #f1c40f; /* amarillo */
  }

  .barra:nth-child(5) {
    height: 150px;
    background-color: #9b59b6; /* morado */
  }